.cat-card {
  position: relative;

  background-color: var(--color-white);

  width: 100%;
  max-width: 225px;

  transition-duration: var(--transition-duration);
}

.cat-card::after {
  content: '';

  position: absolute;
  inset: 0;
  z-index: 1;

  background: var(--gradient-highlight);

  opacity: 0;
  transition-duration: inherit;
}

.cat-card__image {
  aspect-ratio: 1 / 1;
}

.cat-card__favorite-btn {
  position: absolute;
  z-index: 2;

  background: none;
  border: none;

  top: calc(100% - 58px);
  left: calc(100% - 58px);

  height: 48px;
  width: 48px;

  opacity: 0;

  color: #f24e1e;
  fill: transparent;

  transition-duration: var(--transition-duration);
}

.cat-card__favorite-btn.favorite {
  fill: currentColor;
}

.cat-card:hover {
  scale: 1.14;
  box-shadow:
    0 6px 5px rgba(0, 0, 0, 0.24),
    0 9px 18px rgba(0, 0, 0, 0.18);
}

.cat-card:hover::after {
  opacity: 1;
}

.cat-card:hover .cat-card__favorite-btn {
  opacity: 1;
}

.cat-card__favorite-btn:active {
  color: #ff3a00;
}

@media (any-hover: hover) {
  .cat-card__favorite-btn:hover {
    fill: currentColor;
  }

  .cat-card__favorite-btn.favorite:hover {
    fill: transparent;
  }
}

@media (any-hover: none) {
  .cat-card__favorite-btn:active {
    fill: currentColor;
  }

  .cat-card__favorite-btn.favorite:active {
    fill: transparent;
  }
}
